POSTGRES_USER="root"
POSTGRES_PASSWORD="your-password"
POSTGRES_DB="olist-ecommerce"
# Depends on when will be running the pipeline, if it is running in a local environment, then use localhost, if it is running in a docker container, then use the name of the service defined in the docker-compose file.
HOST="localhost"
PORT=5432